# Environment variables
backend/.env

# Python virtual environments
backend/test_env/
venv/
.venv/

# Python
__pycache__/
*.pyc

# Chroma database 
backend/chroma_db/

# Node
node_modules/
.next/

# ChromaDB
backend/backend/chroma_db/

# Uploaded resumes
backend/backend/uploads/

# Local SQLite database
backend/backend/sql_app.db

# Environment
backend/.env
