fastapi
uvicorn

python-multipart
pydantic

pymupdf
python-docx
spacy

sentence-transformers
transformers
torch

chromadb

langchain-text-splitters

numpy
sqlalchemy
psycopg2-binary

# AI and Environment
openai
tenacity
python-dotenv