fastapi
uvicorn

python-multipart
pydantic

pymupdf
python-docx

sentence-transformers
transformers
torch

chromadb

langchain-text-splitters

numpy
sqlalchemy
docx2pdf

# AI and Environment
groq
python-dotenv